<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  <title>Claim Management System</title>
</head>
 
<!-- Navbar-->

<!--body-->
<body>
  <app-header></app-header>

  <div class="testimonials">
    <div class="inner">
      <h1>OUR TEAM</h1>
      <div class="border"></div>

        <div class="row">
            <div class="col">
                <div class="testimonial">
                    <img src="../../assets/image/Shailesh.jpg" alt="">
                    <div class="name">Shailesh Goyal</div>
                    <div class="position">Team Leader</div>
                    <p>
                    Shailesh has pursued his B.Tech in CSE from SKIT Jaipur.
                    He completed Policy MicroService and Claim Status Module.
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="testimonial">
                    <img src="../../assets/image/shivani.jpg" alt="">
                    <div class="name">Shivani Kumawat</div>
                    <div class="position">Team Member</div>
                    <p>
                    Shivani has pursued her B.Tech in CSE from SKIT Jaipur.
                    She completed Claim MicroService and Submit Claim Module.
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="testimonial">
                    <img src="../../assets/image/nikit.jpg" alt="">
                    <div class="name">Nikit Jain</div>
                    <div class="position">Team Member</div>
                    <p>
                    Nikit has pursued his B.Tech in IT from SKIT Jaipur.
                    He completed Member MicroService and View Bill Module.
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="testimonial">
                    <img src="../../assets/image/rishabh.png" alt="">
                    <div class="name">Rishabh Khandelwal</div>
                    <div class="position">Team Member</div>
                    <p>
                    Rishabh has pursued his B.Tech in IT from SKIT Jaipur.
                    He completed Auth MicroService and Login Module and Member Portal.
                    </p>
                </div>
            </div>
        </div>
    </div>
  </div>

  <app-footer></app-footer>
</body>
<!-- Footer -->

</html>