<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    <title>Claim Management System</title>
</head>

<body>
    <!--footer-->
    <div class="bg-blue py-4 footer ">
        <small class="fottext">Copyright &copy; 2021. All rights reserved.</small>
    </div>
    <!--footer-->
</body>

</html>